<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDIT</title>
</head>
<body>
    <p>id : <%= post.id %></p> 
    <h3>username:@<%= post.username%></h3>
    <form  action="/posts/<%= post.id %>?_method=PATCH" method="POST">
        <textarea  rows="10" cols="25" name="content"><%= post.content %></textarea><br><br>
        <button>submit</button>
    </form>
</body>
</html>